# ==============================================================================
# L'Aura Gastronomy - Muhit O'zgaruvchilari Namunasi (.env.example)
# Ushbu fayldan nusxa olib, nomini '.env' ga o'zgartiring va o'z ma'lumotlaringizni kiriting
# ==============================================================================

# Telegram Bot Sozlamalari
# 1. @BotFather orqali olingan bot tokeni
  BOT_TOKEN: "8998942580:AAFZgw8HlUzr0k9fXB7HgN1o3Z65qvvspN8",
  CHAT_ID: "-1004434019921"
  